---
---
<section id="contact" class="mt-12">
  <h2 class="text-2xl font-bold mb-6">Contact Me</h2>
  <div class="space-y-4">
    <div class="flex items-center space-x-3">
      <img src="/public/gmail.png" alt="Gmail" class="w-6 h-6" />
      <a href="mailto:akrahman76@gmail.com" class="text-gray-700 hover:underline">
        akrahman76@gmail.com
      </a>
    </div>
    <div class="flex items-center space-x-3">
      <img src="/public/github.png" alt="GitHub" class="w-6 h-6" />
      <a href="https://github.com/akrahman76" target="_blank" class="text-gray-700 hover:underline">
        GitHub
      </a>
    </div>
    <div class="flex items-center space-x-3">
      <img src="/public/linkedin.png" alt="LinkedIn" class="w-6 h-6" />
      <a href="https://www.linkedin.com/in/mostafizur-rahman-873172160/" target="_blank" class="text-gray-700 hover:underline">
        LinkedIn
      </a>
    </div>
  </div>
</section>
