  <section id="hobbies" class="mb-12">
    <h2 class="text-2xl font-bold mb-4">Hobbies</h2>
    <ul class="space-y-3 list-disc ml-5">
      <li>
        <p class="text-gray-600 mt-1">
         Photography
        </p>
        <!-- <a href="#" class="text-blue-500 text-sm hover:underline mt-1 inline-block">View Project →</a> -->
      </li>

      <li>
        <p class="text-gray-600 mt-1">
         Cinematography
        </p>
        <!-- <a href="#" class="text-blue-500 text-sm hover:underline mt-1 inline-block">View Project →</a> -->
      </li>

      <li>
        <p class="text-gray-600 mt-1">
         Playing Musical Instruments
        </p>
        <!-- <a href="#" class="text-blue-500 text-sm hover:underline mt-1 inline-block">View Project →</a> -->
      </li>

      <li>
        <p class="text-gray-600 mt-1">
         Travelling
        </p>
        <!-- <a href="#" class="text-blue-500 text-sm hover:underline mt-1 inline-block">View Project →</a> -->
      </li>

    </ul>
  </section>

